{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/password_reset_confirm.css' %}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="mainDiv">
  <br><br><br><br>
  <h1>Reset Password</h1><br>
  <hr><br><br>
  <form class="form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form.visible_fields %}
          <span class="lablesText">{{ field.label_tag }} {{ field }}</span>
          
          <span class="errorsText"><br>{{ field.errors }} </span><br>
      {% endfor %}
      <button type="submit" class="submit-btn"><i class="icon-lock4"></i> Change Password</button>
  </form>
</div>

{% endblock %}
