{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/hire.css' %}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="mainDiv" style="text-align: center;">
  <br><br><br><br><br><br>
  <u><h1>Reset Password</h2></u> <br>
  <hr>
  <br>
  <h3>If a user exists with this email, you should have received an email with a reset link.</h3>
  <br>
  <h4>Please click on the link in your email to reset your password.</h4>
</div>

{% endblock %}