{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/password_reset_confirm.css' %}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="mainDiv">
  <br><br><br><br><br>
  <h1>Reset Password</h1>
  <br><hr><br><br>
  <h2>Congratulations! Your password has been changed!</h2><br>
  <h4>Click <span class="linkText"><a href="{% url 'signin' %}">here</a></span> to Login!</h4>
</div>

{% endblock %}
