{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/password_reset_form.css' %}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="mainDiv">
  <br><br><br><br><br><br><h1>Reset Password</h1><br><br>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br><br>
      <button class="submit-btn" type="submit">Submit</button>
  </form><br><br><br>
  <b><i>NOTE:</i></b> We only send reset mails to existing emails, and do not inform if the entered email has no associated user.
</div>

{% endblock %}
