<!DOCTYPE html>
<html lang="en">

<!-- To load the static files (JS , CSS etc.) -->
{% load static %}

<head>
    <title>FYL-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'photohireapp/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'photohireapp/css/index.css' %}"> 
    <link rel="icon" type="image/png" href="{% static 'photohireapp/images/camera_icon.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% block head %}
     {% endblock %}
</head>

<body>
    {% block navbar %}
        <div class="navigation">
            <header class="navigation">
                <div class="upper_nav flex jc-sp_btwn ai-center">
                    <div class="flexuse">
                        <a class="logo flex jc-center ai-center" href="/">
                            <div>FYL</div>
                        </a>
                        <div class="search-bar search-bar-nav">
                            <form action="{% url 'search' %}"  method="GET">
                                <input id="searchField" type="search" placeholder="Search for photo tags" name="search" required>
                                <button class="submit-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                                        <path fill="#FFF" fill-rule="evenodd" d="M18.228 11.493c0-1.842-.657-3.416-1.97-4.725-1.313-1.309-2.893-1.963-4.741-1.963-1.847 0-3.427.654-4.74 1.963-1.313 1.309-1.97 2.883-1.97 4.725 0 1.841.657 3.416 1.97 4.724 1.313 1.309 2.893 1.963 4.74 1.963 1.848 0 3.428-.654 4.741-1.963 1.313-1.308 1.97-2.883 1.97-4.724zm6.995 11.748c0 .518-.19.966-.569 1.344-.38.378-.829.567-1.348.567-.539 0-.989-.189-1.348-.567l-4.464-4.434c-1.788 1.234-3.78 1.851-5.977 1.851-1.428 0-2.793-.276-4.096-.828-1.303-.553-2.426-1.299-3.37-2.24-.944-.94-1.693-2.06-2.247-3.359a10.294 10.294 0 01-.831-4.082c0-1.423.277-2.784.831-4.083.554-1.299 1.303-2.419 2.247-3.359s2.067-1.687 3.37-2.239a10.395 10.395 0 014.096-.829 10.4 10.4 0 014.097.829c1.304.552 2.427 1.299 3.37 2.239.944.94 1.693 2.06 2.247 3.359.554 1.299.831 2.66.831 4.083 0 2.189-.619 4.175-1.857 5.956l4.464 4.449c.369.368.554.816.554 1.343z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                    <nav>
                        <ul class="flex">

                            <!-- Show "My profile" if user is logged in -->
                            {% if  user.is_authenticated %}
                                <li>
                                    <a href="/user_profile/{{ user.id }}">My Profile</a>
                                </li>
                            {% endif %}

                            <li>
                                <a href="/explore">Explore</a>
                            </li>

                            <!-- Show "Logout" if user is logged in -->
                            {% if  user.is_authenticated %}
                                <li href="/sign-up">
                                    <a href="{% url 'logout_view' %}">Logout</a>
                                </li>
                           {% else %}
                                <li id="triggerModal">
                                    <a href="#">Sign In/Up</a>
                                </li>
                            {% endif %}

                            <li>
                                <a href="/about">About Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>

        <!-- Pop-up modal -->
        <div id="modal" class="modal login-container">
            <div class="modal-content login-modal">
                <div class="login-header">
                    <p>Log In / Sign Up</p>
                    <div class="cross-btn">X</div>
                </div>
                <div class="login-box">
                    <div>
                        <a href="/sign-in">
                            <button class="login-btn">Login</button>
                        </a>OR
                        <a href="/sign-up">
                            <button class="login-btn">Sign Up</button>
                        </a>
                        
                    </div>
                </div>
                <div class="close">
                    <button class="close-btn">Close</button>
                </div>
            </div>
        </div>

    {% endblock %}

    <!-- Django messages if any -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        {{ message }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block content %} 
    {% endblock %}
</body>

<script type="text/javascript" src="{% static 'photohireapp/js/base.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
</html>