{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/about.css' %}">
{% endblock %}

{% block title %}-About{% endblock %}

{% block content %}
  <head>
      <title>About Us</title>
      <link rel="stylesheet" href="AboutUs.css">
  </head>
  <body>
      <div class = "heading">
          <h1>About Us</h1>
      </div>
      <div class="container">
          <section id = "main">
              <h1>Welcome</h1>
              <p>
                  <b>Find Your lensman</b> is a website which provides photographer to a user according to their selected categories,
                  A user can find his 'Lesnman' easily by just searching the name of the photographer.
                  <h5>Some Features Of FLY Are :</h5>
                  <ul>
                      <li>Fast</li>
                      <li>Better User Interface</li>
                      <li>Better Experience</li>
                  </ul>
              </p>
              <p>You can mail your problems at <font style="color: blue;">https://www.findyourlensman.com</font></p>
          </section>
  
          <aside id = "side-bar">
              <h2>Why use FYL?</h2>
              <p style="font-family: arial;">
                  To get a proper photographer we have to visit each and every photographers place which tends to very hectic.
                  So to save that energy and save that time Find Your Lensman plays a vital role in every users life, FLY provides photographers to its users
                  by simpply just taking the photographers name as a user input.
              </p>
          </aside>
      </div>
      <footer id = "main-footer">
          <p>Find Your Lensman Since 2020</p>
      </footer>
  </body>
{% endblock %}