{% extends "base.html" %}
{% load static %}
{% block title %}Edit-Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'photohireapp/css/edit_profile.css' %}"> 
{% endblock %}



{% block content %}
<div class="edit-your-profile">
    <div class="form-model">
        <h1>Edit Your Profile</h1>
        <form action="">
            <div class="choose-filee">
                <img src="https://via.placeholder.com/100x100.png" alt="">
                <input type="file">
            </div>
            <div class="names">
                <div class="name">
                    <label for="">First Name</label>
                    <input type="text">
                </div>
                <div class="last">
                    <label for="">Last Name</label>
                    <input type="text">
                </div>
            </div>
            <div class="bio">
                <label for="">Short Bio</label>
                <textarea name="" id="" cols="20" rows="10"></textarea>
            </div>
            <div class="insta-username">
                <label for="Instagram Username">Instagram Username</label>
                <input type="text">
            </div>
            <div class="twitter-username">
                <label for="">Twitter Username</label>
                <input type="text">
            </div>
            <div class="update-cancel">
                <button class="cancel">Cancel</button>
                <button class="update">Update Profile</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}