{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'photohireapp/css/explore.css' %}">
  <style>
  section.features-section {
      margin-top: -60px;
  }
  .toggleDiv{
    text-align: center;
    color: gray;
    margin-top: 10px;
  }
  
  </style>
{% endblock %}

{% block title %}-Explore{% endblock %}

{% block content %}
  <div class="toggleDiv">
    <h2>
      <a href="#"><span id="photosBtn">Photos</span></a>  |   <a id="lbBtn" href="#">Leaderboard</a>
    </h2>
  </div>
  <div id="photosSection" class="container">
    <main>
      <div class="home-gallery">
          <ul class="trending flex jc-around ai-center">
              {% for photographer in top_photographers %}
              <li>
                  <a href="#">
                      <img class="hoverimg" src="http://127.0.0.1:8000/media/{{ photographer.profile_picture }}" alt="">
                      <span>{{ photographer.first_name }} {{ photographer.last_name }}</span>
                  </a>
              </li>
              {% endfor %}
          </ul>
      </div>
      <section class="features-section">
          <ul class="featured-img">
              {% for image in images %}
              <li class="imageLi">
                  <a href="#">
                      <img src="http://127.0.0.1:8000/media/{{ image }}" alt="">
                  </a>
              </li>
              {% endfor %}
          </ul>
      </section>
    </main>
  </div>
  <div id="lbSection" style='display:none'>
      <div>
        <head>
            <title>Leaderboard </title>
            <link rel="stylesheet" media="screen" href="assets/css/leaderboard.css">
        </head>
        <div class="leaderboard">
            <ul class="board">
                {% for pg in trending_photographers %}
                    <li>
                        <a href="/user_profile/{{ pg.id }}">
                            {% if pg.profile_picture|length > 1 %}
                              <img src="http://127.0.0.1:8000/media/{{ pg.profile_picture }}" alt="">
                            {% else %}
                              <img src="{% static 'photohireapp/images/user-placeholder.jpg' %}" alt="">
                            {% endif %}
                        </a>
                        <div>
                            <p class="profile-name">{{ pg.first_name }} {{ pg.last_name  }}</p>
                            <p class="visit"><span class="visit-count"></span>Profile Visits - {{ pg.profile_views  }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </div>
  <script> 
    // Get the elements
    var photosBtn = document.getElementById("photosBtn");
    var lbBtn = document.getElementById("lbBtn");
    var photosSection = document.getElementById("photosSection");
    var lbSection = document.getElementById("lbSection");
    photosBtn.style.textDecoration = "underline";
    photosBtn.style.color = "blue";
    photosBtn.style.fontStyle = "italic";

    photosBtn.onclick = function() {
      photosBtn.style.color = "blue";
      lbBtn.style.color = "gray";
      photosBtn.style.textDecoration = "underline";
      photosBtn.style.fontStyle = "italic";
      lbBtn.style.fontStyle = "";
      lbBtn.style.textDecoration = "";
      photosSection.style.display = "block";
      lbSection.style.display = "none";
    }

    lbBtn.onclick = function() {
      photosBtn.style.color = "gray";
      lbBtn.style.color = "blue";
      photosBtn.style.textDecoration = "";
      lbBtn.style.textDecoration = "underline";
      photosBtn.style.fontStyle = "";
      lbBtn.style.fontStyle = "italic";
      photosSection.style.display = "none";
      lbSection.style.display = "block"
    }

  </script>
{% endblock %}