{% extends "base.html" %} 
{% load static %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'photohireapp/css/index.css' %}"> 
{% endblock %}

{% block title %}-Home{% endblock %} 

{% block content %}
    <div class="container">
        <!--Header Starts Here-->
        <header>
            <div class="upper_nav flex jc-sp_btwn ai-center">
                <div class="logo flex jc-center ai-center">PH</div>
                <nav>
                    <ul class="flex">
                        <li>
                            <a href="/explore">Explore</a>
                        </li>
                        <li id="triggerModal">
                            <a href="#">Sign In/Up</a>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="search-bar">
                <p>Get the photographer you need</p>
                <div class="search-form">
                    <form action="">
                        <input type="search" placeholder="Search for photos and videos">
                        <button class="submit-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                    <path fill="#FFF" fill-rule="evenodd" d="M18.228 11.493c0-1.842-.657-3.416-1.97-4.725-1.313-1.309-2.893-1.963-4.741-1.963-1.847 0-3.427.654-4.74 1.963-1.313 1.309-1.97 2.883-1.97 4.725 0 1.841.657 3.416 1.97 4.724 1.313 1.309 2.893 1.963 4.74 1.963 1.848 0 3.428-.654 4.741-1.963 1.313-1.308 1.97-2.883 1.97-4.724zm6.995 11.748c0 .518-.19.966-.569 1.344-.38.378-.829.567-1.348.567-.539 0-.989-.189-1.348-.567l-4.464-4.434c-1.788 1.234-3.78 1.851-5.977 1.851-1.428 0-2.793-.276-4.096-.828-1.303-.553-2.426-1.299-3.37-2.24-.944-.94-1.693-2.06-2.247-3.359a10.294 10.294 0 01-.831-4.082c0-1.423.277-2.784.831-4.083.554-1.299 1.303-2.419 2.247-3.359s2.067-1.687 3.37-2.239a10.395 10.395 0 014.096-.829 10.4 10.4 0 014.097.829c1.304.552 2.427 1.299 3.37 2.239.944.94 1.693 2.06 2.247 3.359.554 1.299.831 2.66.831 4.083 0 2.189-.619 4.175-1.857 5.956l4.464 4.449c.369.368.554.816.554 1.343z"></path>
                </svg>
                </button>
                    </form>
                </div>
            </div>
        </header>
        <!--Header Starts Ends-->
        <!--Main Starts Here-->
        <main>
            <div class="home-gallery">
                <h1>Trending 3 of the week</h1>
                <ul class="trending flex jc-around ai-center">
                    {% for photographer in top_photographers %}
                    <li>
                        <a href="#">
                            <img class="hoverimg" src="http://127.0.0.1:8000/media/{{ photographer.profile_picture }}" alt="">
                            <span>{{ photographer.first_name }} {{ photographer.last_name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <section class="features-section">
                <h2>Featured</h2>
                <ul class="featured-img">
                    {% for image in images %}
                    <li class="imageLi">
                        <a href="#">
                            <img src="http://127.0.0.1:8000/media/{{ image }}" alt="">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
        <!--Main Ends Here-->
        <!--Footer Starts Here-->
        <footer>
        </footer>
        <!--Footer Ends Here-->
    </div>
    {% include "photohireapp/modal.html" %}
{% endblock %}