{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="sign-in-contaner">
    <head>
        <link rel="stylesheet" href="{% static 'photohireapp/css/sign-in.css' %}"> 
    </head>
    <style>
        .sign-in-contaner .sign-in{
            background:rgb(197, 24, 24) url('/static/photohireapp/images/signbg.jpg') no-repeat center;
            height: 100vh;
            background-size: cover;
        }
    </style>
    <!-- Django messages if any -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        {{ message }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="sign-in">
        <div class="form-box">
            <form method='POST' action="{% url 'signin' %}">
                    {% csrf_token %}
                <div class="email input-box">
                    <label for="email">Email</label>
                    <input class="inp" name='email' type="email">
                </div>
                <div class="pass input-box">
                    <label for="">Password</label>
                    <input class="inp" name='password' type="password">
                </div>
                <div class="pass input-box">
                    <input class="submit-btn" type="submit" value="Sign In">
                </div>
                    <br><span class="suggestSignUp">Don't have an account? <a href="{% url 'signup' %}" class="signUpLink"><i><u>Sign-up</u></i></a></span> <br>
                    <br><span class="suggestSignUp">Forgot password? <a href="{% url 'password_reset' %}" class="signUpLink"><i><u>Click here</u></i></a></span>
            </form>
        </div>
    </div>
</div>
{% endblock %}