<div class="sign-up-contaner">
    <head>
        <title>Sign In Page </title>
        <link rel="stylesheet" media="screen" href="assets/css/style.css">
    </head>
    <style>
        .sign-up-contaner .sign-up{
            background:#000 url('./signbg.jpg') no-repeat center;
            height: 100vh;
            background-size: cover;
        }
    </style>
    <div class="sign-up">
        <div class="form-box">
            <form action="">
                <div class="email input-box">
                    <label for="">Email</label>
                    <input class="inp" type="email">
                </div>
                <div class="pass input-box">
                    <label for="">Password</label>
                    <input class="inp" type="password">
                </div>
                <div class="pass input-box">
                    <input class="submit-btn" type="submit" value="Sign In">
                </div>
            </form>
        </div>
    </div>
</div>