{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'photohireapp/css/upload_images.css' %}">
{% endblock %}

{% block content%}
<!-- Django messages if any -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    {{ message }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Actual form is here -->
<div class="mainDiv">
    <br><br><br><br>
    <h1>Upload photos</h1><br>
    <hr><br><br>
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <span class="lablesText">{{ field.label_tag }} {{ field }}</span>
            
            <span class="errorsText"><br>{{ field.errors }} </span><br>
        {% endfor %}
        <button type="submit" class="submit-btn"><i class="icon-lock4"></i> Upload</button>
    </form>
  </div>

{% endblock  %}