.form-input-div{
    margin: 10px;
}

.mainDiv{
    text-align: center;
}

.textLable{
    font-size: 20px;
}

.inputText{
    font-size: 17px;
}

.submit-btn{
    background-color: darkslategrey;
	width: 150px;
	height: 30px;
	color: #fff;
    font-size: 20px;
	cursor: pointer;
	border: 2px solid transparent;
}

.submit-btn:hover{
    background-color: black;
}