*{margin: 0; padding: 0;}
ul li{list-style: none;}
.edit-profile{
    padding: 15px;
  }
  
  .edit-profile .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 40px auto;
  }
  
  .edit-profile .profile img{
    max-width: 90px;
    height: 90px;
    width: 100%;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .edit-profile .profile .profile-name{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin-right: 10px;
  }
  
  .edit-profile .profile .socail-icon svg{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .edit-profile .profile .useflex{
    display: flex;
    align-items: center;
  }
  
  .edit-profile .profile .edit-btn{
    padding: 8px 15px;
    background-color: lightseagreen;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    opacity: .7;
    cursor: pointer;
  }
  
  .edit-profile .profile .edit-btn:hover{
  opacity: 1;
  }

  .liked-photos{ 
    margin-top: 50px;
  }
  
  .edit-profile .liked-photos ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .edit-profile .liked-photos h2{
    font-style: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .edit-profile .liked-photos ul li{
    margin: 10px;
    max-width: 200px;
    width: 100%;
  }
  
  .edit-profile .liked-photos ul li img{
    max-width: 200px;
    height: 200px;
    width: 100%;
  }

.rateDiv {
  text-align: center;
  display: none;
}

.existingRatings{
  text-align: center;
}

.RatingHeading{
  background-color: #D3D3D3;
  padding: 5px;
}

.youtubeLogo{
  height:17px !important;
  width: 17px !important;
  margin-left: 4px;
}

.RatingBox{
  text-align: left;
  display: table;
  margin: 0 auto;
}

.middleProfile {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageLiProfile{
  position: relative;
}

.imageLiProfile:hover .middleProfile{
  opacity: 1;
  cursor: pointer;
}

.imageLiProfile:hover .list_image_profile{
  opacity: 0.4 !important;
}

.deleteLogo{
  height: 50px !important;
  width: 50px !important;
}

/* CSS for alert boxes - Delete images */
/* Important tag is to take predence over green color in base.css */

.alert {
  background-color: red !important;
}
