*{margin: 0;padding: 0;}
.sign-up-contaner .sign-up {
	background-color: rosybrown;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sign-up-contaner .form-box {
	max-width: 400px;
	margin-top: -80px;
	width: 100%;
	padding: 15px;
	margin-right: 30px;
}

.sign-up-contaner .sign-up form .input-box {
	display: flex;
	flex-flow: column;
	max-width: 360px;
}

.sign-up-contaner .sign-up form .input-box {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: sans-serif;
}

.sign-up-contaner .sign-up form .input-box .inp {
	background-color: #fff;
	padding: 10px 5px;
	border-radius: 3px;
	box-shadow: 0 0 8px #666;
	margin-top: 10px;
}

.sign-up-contaner .sign-up form [type=submit] {
	background-color: darkslategrey;
	width: 120px;
	height: 50px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	border: 2px solid transparent;
}

.sign-up-contaner .sign-up form [type=submit]:hover {
	background-color: #fff;
	color: darkslategrey;
	border: 2px solid darkslategrey;
}


.suggestSignIn{
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.signInLink:hover{
	color: yellow;
}