.uploadForm{
    margin-top: 20px;
    margin-left: 30px;
}

.uploadBtn{
    padding: 8px 15px;
    background-color: lightseagreen;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    opacity: .7;
    cursor: pointer;
}

.mainDiv{
  text-align: center;
}

.lablesText{
  font-size: 20px;
}

.errorsText{
  font-size: 15px;
  color: red;
}

.submit-btn{
  background-color: darkslategrey;
  width: 200px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}

.submit-btn:hover{
  background-color: black;
}

.linkText{
  color: blue;
}

.linkText:hover{
  color: violet;
}


/* CSS for alert boxes */
.alert {
    padding: 20px;
    background-color: green;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
