.uploadForm{
    margin-top: 20px;
    margin-left: 30px;
}

.uploadBtn{
    padding: 8px 15px;
    background-color: lightseagreen;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    opacity: .7;
    cursor: pointer;
}


/* CSS for alert boxes */
.alert {
    padding: 20px;
    background-color: green;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }