.uploadForm{
    margin-top: 20px;
    margin-left: 30px;
}

.uploadBtn{
    padding: 8px 15px;
    background-color: lightseagreen;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    opacity: .7;
    cursor: pointer;
}